
body{
background:#e5ecec;
}
nav{
background-color:rgb(15, 82, 228);

margin:10px;
}
nav ul{

display:flex;


list-style:none;
}
nav ul li{
padding:10px 10px;
}
nav ul li a{
text-decoration:none;
font-size:18px;
color:white;
font-family:Arial;
}
nav ul li:hover{
background-color:black;
transition:0.9s;
}
@media only screen and (max-width:767px){
nav ul{
height:230px;
flex-direction:column;
text-align:center;
}
}
header{
    height: 100px;
    background-color: rgba(15, 14, 14, 0.479);
    margin:10px;
}
header h1{
    text-align: center;
    font-weight: Arial bold;
    color:white;
    padding:20px 10px;
}
.about{
    display:flex;
    background-color: brown;
    margin:10px;
}
div h1{
    color:white;

}
.container1{

background-color: lightblue;

margin:10px;

    
}


/*p{
font-family: Arial;
color:white;
text-align: justify;
padding:10px;
}*/
footer{
    display:flex;
    height: 100px;
    background-color: black;
    margin:10px;
    justify-content: center;
    justify-content: space-around;
}
footer p{
    color:white;
}
.box7{
    display:flex;
    flex-direction: row;
}
.box71{
    margin:10px;
    width: 50%;
    
    
}
.box72{
    margin:10px;
    
    
}
.rounded{
    border-radius:5px;
    border:3px solid rgb(10, 25, 231);

}
.container1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

