
body{
background:#e5ecec;
}
nav{
background-color:rgb(15, 82, 228);

margin:10px;
}
nav ul{

display:flex;


list-style:none;
}
nav ul li{
padding:10px 10px;
}
nav ul li a{
text-decoration:none;
font-size:18px;
color:white;
font-family:Arial;
}
nav ul li:hover{
background-color:black;
transition:0.9s;
}
@media only screen and (max-width:767px){
nav ul{
height:230px;
flex-direction:column;
text-align:center;
}
}
header{
    height: 100px;
    background-color: rgba(15, 14, 14, 0.479);
    margin:10px;
}
header h1{
    text-align: center;
    font-weight: Arial bold;
    color:white;
    padding:20px 10px;
}