
body{
background:#e5ecec;
}
nav{
background-color:rgb(15, 82, 228);

margin:10px;
}
nav ul{

display:flex;


list-style:none;
}
nav ul li{
padding:10px 10px;
}
nav ul li a{
text-decoration:none;
font-size:18px;
color:white;
font-family:Arial;
}
nav ul li:hover{
background-color:black;
transition:0.9s;
}
@media only screen and (max-width:767px){
nav ul{
height:230px;
flex-direction:column;
text-align:center;
}
}
header{
    height: 100px;
    background-color: rgba(15, 14, 14, 0.479);
    margin:10px;
}
header h1{
    text-align: center;
    font-weight: Arial bold;
    color:white;
    padding:20px 10px;
}
.work{
    display:flex;
    background-color: brown;
    margin:10px;
}
.work h1{
    color:white;
}
footer{
    display:flex;
    height: 100px;
    background-color: black;
    margin:10px;
    justify-content: center;
    justify-content: space-around;
    
}
footer p{
    font-family: Arial;
    color:white;
    text-align: justify;
    padding:10px;
    }
.working{
    display:flex;
    flex-direction: row;
    margin:10px;
    flex-basis: initial;
}
.box11 ul{
    
}
.box11{
    width: 100%;
    background-color:lightblue;
    margin:1px;

}
.box22{
    width: 100%;
    background-color:lightblue;
    margin:1px;
}
.box33{
    width: 100%;
    background-color: lightblue;
    margin:1px;
}